<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <input type="checkbox" checked id=<%= task.id %>>
    <% else %>
      <input type="checkbox" id=<%= task.id %>>
    <% end %>
    <label for=<%= task.id %> ><%= task.title %></label>
    <br>
  <% end %>
</ul>
